---
import Layout from "../../layouts/layout.astro"
import "../../styles/global.css"
import Header from "../../components/es-header.astro"
import Nextjs from "../../icons/nextjs.astro"
import React from "../../icons/react.astro"
import Tailwind from "../../icons/tailwind.astro"
import AstroIcon from "../../icons/astro.astro"
import Typescript from "../../icons/typescript.astro"
import ExternalLink from "../../icons/external-link.astro"
---

<Layout>
  <Header />
  <main class="w-full px-5 md:px-0 box-border md:w-4xl mx-auto">
    <section class="pt-16 md:pt-32 md:pb-36 w-full">
      <div class="flex flex-col w-full text-center items-center gap-2">
        <img src="me.webp" class="w-30 h-30 md:w-40 md:h-40 rounded-full" />
        <h1 class="text-4xl md:text-6xl font-bold pt-2">Tomas Lobato</h1>
        <p class="text-lg md:text-2xl pt-1 mx-5 md:w-1/2">
          Desarrollador web full-stack y estudiante de Argentina 🇦🇷
        </p>

        <div class="pt-4 w-full">
          <span class="text-sky-400">Tech Stack</span>
          <div class="gap-4 py-3 flex justify-center items-center" id="stack">
            <a href='https://www.typescriptlang.org/"'><Typescript /></a>
            <a href="https://react.dev"><React /></a>
            <a href="https://nextjs.org"><Nextjs /></a>
            <a href="https://tailwindcss.com"><Tailwind /></a>
            <a href="https://astro.build"><AstroIcon /></a>
          </div>
        </div>
      </div>
    </section>
    <section class="h-screen flex flex-col items-center" id="experience">
      <h1 class="text-3xl md:text-5xl font-bold italic pt-12">
        Experiencia y Proyectos
      </h1>
      <ul class="flex flex-col pt-12 w-full gap-2">
        <li>
          <a
            href="https://estudiolobato.com"
            class="flex w-full gap-4 box-border p-2 rounded-lg"
          >
            <div class="w-2/5 rounded-lg h-48 bg-black">
              <img
                src="estudio.webp"
                alt="law firm website"
                class="w-full h-full"
              />
            </div>
            <div class="w-3/5 gap-1.5 flex flex-col">
              <h3 class="flex gap-2 items-center text-3xl font-bold underline">
                Sitio web de negocio familiar
                <ExternalLink size="22" />
              </h3>
              <p class="text-lg">
                Landing page profesional para el negocio de mi familia (estudio de abogados).
                <br/>Dedicado a mi abuelo.
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="https://pdx.vercel.app"
            class="flex w-full gap-4 box-border p-2 rounded-lg"
          >
            <div class="w-2/5 rounded-lg h-48 bg-black">
              <img
                src="pdx-bad.webp"
                alt="law firm website"
                class="w-full h-full rounded-2xl"
              />
            </div>
            <div class="w-3/5 gap-1.5 flex flex-col">
              <h3 class="flex gap-2 items-center text-3xl font-bold underline">
                PDX
                <ExternalLink size="22" />
              </h3>
              <p class="text-lg ">
                Aplicación web de IA para leer y chatear con un poderoso LLM (gemini 2.0) sobre el archivo PDF subido.<br/>
                Capa gratuita limitada y suscripción de pago ilimitada. <br/>
                Hecho con NextJS (React), Tailwind, Stripe y Google AI Studio. <br/>
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  html {
    background-color: #111111;
    color: white;
  }
  #stack a:hover {
    width:;
  }
</style>
